body{
  /*background: rgb(140,15,171);
  background: linear-gradient(0deg, rgba(140,15,171,1) 0%, rgba(12,23,83,1) 100%);
  background-repeat: no-repeat;
  background-size: cover;*/
}

input[type="checkbox"]:checked + span {
  text-decoration: line-through;
}

form:has(input[value="pendientes"]:checked) #list li:has(input[type="checkbox"]:checked) {
  display: none;
}

form:has(input[value="completas"]:checked) #list li:not(:has(input[type="checkbox"]:checked)) {
  display: none;
}

form:has(input[value="todas"]:checked) #list li {
  display: flex;
}

